.view-azala-azken-iruzkinak-1-2 .views-row {
    padding: 4px 0;
}
.view-azala-azken-iruzkinak-1-2 .views-row  .views-field-name {
    display: inline;
    font-weight: bold;
}
.view-azala-azken-iruzkinak-1-2 .views-row .views-field-cid {
    display: inline;
}
.view-azala-azken-iruzkinak-1-2 .views-row .views-field-cid  a {
    text-decoration: none;
}
.view-azala-azken-iruzkinak-1-2 .views-row .views-field-cid   a:hover {
    text-decoration: underline;
}

.view-azala-azken-iruzkinak-1-2 .item-list ul {
    padding: 0;
    list-style: none;
}
